@model TagModel
@{
    ViewData["Title"] = "AddNewTag";
}

<h3 class="display-4">Add New Language</h3>
@if (ViewBag.IsSuccess != null && ViewBag.IsSuccess == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Add new Element Success</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<form method="POST" asp-action="AddNewTag">
    <div class="form-group">
        <label asp-for="TagName"></label>
        <input asp-for="TagName" class="form-control" />
    </div>
    <div class="form-group">
        @*  End Tag:<br/>
        Yes: <input checked="checked"
               asp-for="HasEndTag"
               type="radio"
               value="0" />
        No: <input asp-for="HasEndTag"
               type="radio"
               value="1" />*@
        @Html.LabelFor(model => model.HasEndTag, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            Yes
            @Html.RadioButtonFor(model => model.HasEndTag, true)
            No
            @Html.RadioButtonFor(model => model.HasEndTag, false)
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Add new Tag" class="btn btn-primary" />
    </div>
</form>