
@inject AutoGenCode.Repository.ElementRepository _elementRepo;
@model ElementModel;
@{
    ViewData["Title"] = "Gencode";
}
<h3 class="display-4">Gencode</h3>
@if (ViewBag.IsSuccess != null && ViewBag.IsSuccess == true)
{
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Gen code success</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    @Html.ActionLink("Download", "DownloadFile", "GenCode", new{fileName = @ViewBag.ElementName + "Element.html"})
</div>
}

<form method="POST" asp-action="GenCode">
    <div class="form-group">
        <label asp-for="Id"></label>
        <select asp-for="Id" class="form-control" asp-items="(await _elementRepo.GetElements()).Select(x=> new SelectListItem() {Text = x.TagName, Value=x.Id.ToString()})">
            <option value="">Please choose Item</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Gencode" class="btn btn-primary" />
    </div>
</form>
© 2021 GitHub, Inc.